@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
   
    --bg-img: url('/bg.jpg') no-repeat center center;
    --bg-blur: rgba(255, 255, 255, 0.2);
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-img);
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

@layer components {
    .container-max {
      @apply container max-w-[1080px] w-[90%] mx-auto;
    }
    .container-md {
      @apply container max-w-[768px] w-[90%] mx-auto;
    }
    .flex-center {
      @apply flex justify-center items-center;
    }
  }

  .bar{
    position: relative;
  }
 .bar::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }

 .bar:hover::after{
  width: 100%;
}

.bar::active::after {
  width: 100%;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
}

.gradient-text {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #22bcc7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.btn{
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.btn:hover{
  background: linear-gradient(144deg, #1e1e1e,20%, #1e1e1e 50%, #1e1e1e);
}



